/* main font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* secondary font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
/* bangla font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ====== header && footer=========== */
    --menu-color: #0669b5;
    --footer-last-height: 10px;
    --foot-bg-color: rgb(255,203,5);
    --foot-bg-color-before: rgba(0, 0, 0, 0.3);
    --active-class: #eee;
    /* ======= colors ======= */
    --title-color: #dc1d47;
    --exercise-color: #333;
    --white-font-color: #fff;
    --black-font-color: #000;
    --faq-btn-color: #000080;
    --accordion-content-color: #555;
    --social-icon-color: #24262b;
    /* ======== background ========= */
    /* --main-bg: #0f222f; */
    --main-bg: #f9f9fb;
    --about-2nd-bg-color: #b40f80;
    --faq-bg: #e3edf7;
    --exercise-bg: linear-gradient(90deg, #fff, #ddd);
    --linear-grad-bg-glass: linear-gradient(#fff2, transparent);
    --linear-grad-bg-glass-slight: rgba(255, 255, 255, 0.05);
    --linear-exercise-cover-bg: linear-gradient(45deg, #00abf0, #006e9a);
    --navbar-hover-bg: #ec6707;
    /* ========== shadow ============ */
    --border-glass: rgba(19, 13, 13, 0.1);
    --box-shadow-glass: 0 25px 25px rgba(0, 0, 0, 0.25);
    --box-shadow-glass-exercise: 0 0 0.6rem rgba(0, 0, 0, 0.2);
    /* ========== font family ========= */
    --bangl-font: 'Noto Sans Bengali', sans-serif;
    /* ========== margin padding ===== */
    --no1brnd-padding: 50px;
    /* ===== z index ===== */
    --z-fixed: 100;
    --z-second-index: 90;
    --z-negative-index: -1;
}

/* ============ common selector ================ */
h1 {
    font-size: 30px;
    font-family: var(--bangl-font);
    letter-spacing: 2px;
}

.under-title-line {
    position: relative;
    margin-top: 30px;
    width: 250px;
}

/* ============ End common selector ================ */


body {
    background: var(--main-bg);
}

/*===== header sec=======  */
.custo-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: linear-gradient(to left, #2dbbd4 1%, transparent 99%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: var(--z-fixed);
    transition: all 0.1s;
}

.custo-nav.sticky {
    background: var(--main-bg);
}

.header-brand {
    position: relative;
    width: 250px;
    transition: 0.5s width;
}

.header-brand::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 15px;
    height: 15px;
    background: radial-gradient(#2dbbd4, transparent);
    box-shadow: 0 0 15px #2dbbd4,
        0 0 30px #2dbbd4,
        0 0 45px #2dbbd4,
        0 0 60px #2dbbd4,
        0 0 75px #2dbbd4,
        0 0 85px #2dbbd4,
        0 0 100px #2dbbd4;
    border-radius: 10px;
    transform-origin: left;
    animation: line-animate 2s infinite ease-in;
}

@keyframes line-animate {
    0% {
        transform: translateX(0) scale(1);
    }

    33% {
        transform: translateX(80px) scale(1);
    }

    33%,
    66% {
        transform: translateX(165px) scale(1);
    }

    33%,
    66%,
    99%,
    100% {
        transform: translateX(249px) scale(0.5);
    }

    99%,
    100% {
        transform: translateX(250px) scale(0);
    }
}

.header-brand a {
    display: block;
    transition: 0.5s;
}

.header-brand a:hover {
    background: var(--active-class);
    padding: 3px 20px;
    border-radius: 10px;
}

.header-brand a img {
    width: 100%;
}

.nav-right {
    position: relative;
    margin-right: -45px;
    display: flex;
    align-items: center;
}

.nav-right>ul {
    position: relative;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right>ul>li {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.nav-right>ul>li>a {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #a40f80;
}

.nav-right a {
    position: relative;
    color: var(--menu-color);
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 10px;
    padding: 6px 14px;
    text-decoration: none;
    transition: 0.5s;
}

.nav-right a:hover {
    color: var(--navbar-hover-bg);
}

.nav-right>ul>li ul {
    position: absolute;
    top: -500px;
    width: 200px;
    display: block;
    background: var(--active-class);
    border-radius: 5px;
    transition: 0.5s;
}

.nav-right>ul>li:hover ul {
    top: 107%;
}

.nav-right>ul>li ul li {
    position: relative;
    margin: 15px auto;
    width: 80%;
    list-style: none;
    border-bottom: 1px dotted var(--title-color);
    background: transparent;
    border-radius: none;
}

.nav-right>ul>li ul li:last-child {
    border-bottom: none;
}

.nav-right>ul>li ul li a {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0;
}

.nav-right>ul>li a.active {
    background: var(--foot-bg-color);
    border-radius: 10px;
}

.custo-nav button {
    position: relative;
    display: none;
    width: 40px;
    height: 30px;
    background: var(--title-color);
    cursor: pointer;
    transition: 0.5s all;
}

.custo-nav button i {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: var(--white-font-color);
    font-size: 20px;
}

.custo-nav button:hover {
    background: var(--foot-bg-color);
}

/*===== end header sec=======  */

/* ================ home page css ===============*/
/* ========= popup image ======*/
.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: var(--z-fixed);
    transition: height 5s;
}
.popup-container .popup {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    visibility: hidden;
    transition: transform 5s, top 5s, height 5s;
}
.popup-container .popup::before{
    content: attr(data-text);
    position: absolute;
    top: -25px;
    right: -25px;
    width: 40px;
    height: 40px;
    background: var(--foot-bg-color);
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-container .popup img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.popup-container .popup.popup2{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
/* ========= End popup image ======*/
/* ============ banner sect ========== */
.bnner-sec-hm {
    position: relative;
    width: 100%;
    margin-top: 55.5px;
    overflow: hidden;
}

.bnner-sec-hm img {
    width: 100%;
}

/* ============ End banner sect ========== */
/* ====== content-sect ======*/
.content-sect {
    position: relative;
}

.content-sect::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -10%;
    width: 100%;
    height: 100%;
    background: radial-gradient(closest-side at 35% 40%, #575AEC -150%, transparent 100%);
}

.content-container {
    position: relative;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentBx {
    position: relative;
    margin-top: 70px;
    width: 800px;
    height: 550px;
    display: flex;
}

.contentBx .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .cnt-inner {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: var(--white-font-color);
    transition: 0.5s linear;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}
.content .cnt-inner p {
    padding: 30px;
    text-align: justify;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 10px;
}
.content .cnt-inner p:nth-child(2){
    /* margin-top: -10px; */
    padding-top: 0px;
    border-top-left-radius: 10px;
}
.content .cnt-inner p:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    height: 10px;
    background: var(--main-bg);
}
/* ====== End content-sect =====*/

/* ================ End home page css ===============*/
/* ==================== footer ============== */
.footer-cont {
    position: relative;
    margin-top: 180px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: var(--foot-bg-color);
    height: 230px;
    z-index: var(--z-fixed);
}
.footer-cont::before{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--foot-bg-color-before);
    z-index: var(--z-negative-index);
}
.related-lnks {
    position: relative;
    margin: 40px;
    display: flex;
    flex-direction: column;
}
.footer-cont .related-lnks h3,
.footer-cont .social h3 {
    position: relative;
    width: 70%;
    padding-left: 3px;
    background: var(--active-class);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 4px;
}
.footer-cont .social h3 {
    width: 100%;
    padding-right: 35px;
 }
.related-lnks div {
    display: flex;
}
.footer-cont ul {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-cont ul li {
    position: relative;
    width: 150px;
    list-style: none;
}

.footer-cont ul li a {
    position: relative;
    font-family: "Inconsolata", monospace;
    color: var(--exercise-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s;
}

.footer-cont ul li a:hover {
    color: var(--accordion-content-color);
}
.dpl-lnk {
    position: relative;
    display: flex;
    width: 500px;
    align-items: center;
    flex-direction: column;
}
.dpl-lnk ul{
    margin-top: 40px;
    width: 100%;
 }
 .dpl-lnk ul li{
    width: 100%;
 }
 .dpl-lnk ul li::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -3.5%;
    width: 10px;
    height: 100%;
    transform: translateY(-50%);
    background: var(--title-color);
 }
 .dpl-lnk ul li:nth-child(1)::before{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
 }
 .dpl-lnk ul li:last-child::before{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 }
 .dpl-lnk ul li a{
    font-size: 18px;
    font-weight: 600;
    color: var(--active-class);
 }
.footer-cont .social {
    position: relative;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-cont .social-icons {
    position: relative;
    width: 100%;
    margin: 5px 0;
}

.footer-cont .social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 36px;
    margin-right: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    transition: all 0.5s ease;
}

.footer-cont .social-icons a i {
    font-size: 20px;
    transition: all 0.5s ease;
}

.social-icons a:nth-child(2) i {
    color: #fe0000;
}

.social-icons a:nth-child(3) i {
    color: #2ab13f;
}

.social-icons a:hover {
    background: var(--white-font-color);
    color: var(--social-icon-color);
}
.social .visitor-counter {
    position: relative;
    display: flex;
    top: calc(100% - 150px);
}
.social .visitor-counter h4 {
    color: var(--about-2nd-bg-color);
    letter-spacing: 0.06em;
}
.social .visitor-counter h4 span{
    color: var(--menu-color);
}
.last-foot {
    position: relative;
    height: var(--footer-last-height);
    background: var(--about-2nd-bg-color);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.last-foot p {
    position: absolute;
    top: -25px;
    left: 51.5%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.1px;
    color: rgba(255, 255, 255, 0.5);
}

/* ==================== End footer ============== */
/* ================ upacit and some common css style for all faq pages =============== */

.upa-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--main-bg);
}

.faq-container {
    position: relative;
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accor-contai {
    position: relative;
    margin-top: 100px;
    width: 100%;
    background: var(--faq-bg);
}

.accordion {
    position: relative;
    margin: 60px auto;
    width: 85%;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    background: var(--faq-bg);
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.accordion label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: var(--bangl-font);
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
}

.accordion label span {
    position: absolute;
    right: 50px;
    color: var(--black-font-color);
    transform: rotate(90deg);
}

.accordion .content {
    position: relative;
    color: var(--accordion-content-color);
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s, max-height 0.5s, padding 0.5s;
}

.questions.active .content {
    max-height: 1000px;
    padding: 10px 20px;
}

.content .short-contents {
    position: relative;
    width: 100%;
}

.content .showMore {
    position: relative;
    width: 100%;
    display: none;
    border-radius: 10px;
    text-align: right;
}

.content .showMore a {
    position: relative;
    text-decoration: none;
    font-family: var(--bangl-font);
    font-size: 20px;
    color: var(--faq-btn-color);
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: 0.5s all;
}

.content .showMore a:hover {
    opacity: 0.4;
}

.content .full-contents {
    position: relative;
    width: 100%;
    display: none;
}

.content .short-contents p,
.content .full-contents p {
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: justify;
    font-family: var(--bangl-font);
}

.questions.active .content.detailsContent {
    max-height: 2500px;
}

.content ul {
    /* this is inside paragraph for displaying unordered items */
    position: relative;
}

.content ul li {
    /* this is inside paragraph for displaying unordered items */
    position: relative;
    list-style: style;
    margin: 15px 25px;
    padding: 0;
    box-shadow: none;
}

.purchase-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 600px;
    display: none;
}
.purchase-popup span{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: var(--foot-bg-color);
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: var(--z-fixed);
}
.purchase-popup span:hover{ 
    color: var(--about-2nd-bg-color);
}
.purchase-popup img{
    width: 100%;
}

/* ================ End upacit and some common css style for all faq pages =============== */
/* ================ tofacit =============== */

.tofa-logo.brnd-logo-animate {
    background: var(--title-color);
    border: none;
}

/* ================ End tofacit =============== */

/* ================= resource exercise ========= */
.excercise-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.excercise-container h1 {
    position: relative;
    margin-top: 150px;
    font-family: var(--bangl-font);
    letter-spacing: 5px;
}

.exercise-downld-area {
    position: absolute;
    top: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exercise-downld-area button {
    padding: 0 40px;
    height: 37px;
    background: linear-gradient(to top, var(--title-color) 10%, var(--foot-bg-color) 90%);
    border: 0;
    border-radius: 20px;
    letter-spacing: 1.5px;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
}

.exercise-downld-area button:hover {
    background: var(--foot-bg-color);
}

.exercise-downld-area .exercise-downld {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 450px;
    background: var(--exercise-bg);
    visibility: hidden;
    opacity: 0;
    z-index: var(--z-fixed);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.exercise-downld-area span {
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.exercise-downld-area span:hover {
    background: var(--active-class);
}

.exercise-downld .dwnld-content {
    margin-top: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dwnld-content .dwnld-cntnt-file {
    width: 80%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dwnld-cntnt-file a {
    width: 50%;
    font-size: 14px;
    font-family: var(--bangl-font);
    text-decoration: none;

}

.dwnld-cntnt-file a:nth-child(even) {
    text-align: right;
    font-size: 20px;

}

.excercise-wrapper {
    position: relative;
    margin-top: 150px;
    width: 70rem;
    height: 49rem;
    padding: 2rem;
    perspective: 250rem;
    animation: cover-animate 3s forwards;
}

@keyframes cover-animate {

    0%,
    30% {
        opacity: 0;
        transform: rotate(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.excer-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--linear-exercise-cover-bg);
    box-shadow: var(--box-shadow-glass-exercise);
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transform-origin: right;
}

.excer-cover.excer-cover-left {
    z-index: var(--z-negative-index);
}

.excer-cover.excer-cover-right {
    z-index: var(--z-second-index);
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.excer-cover.excer-cover-right.turn {
    transform: rotateY(180deg);
}

.excer-book {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    perspective: 250rem;
}

.excer-book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--exercise-bg);
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2rem;
}

.excer-book-page.page-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.excer-book-page.page-left img {
    width: 100%;
    height: 100%;
}

.excer-book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.excer-book-page.page-right.turn {
    transform: rotateY(-180deg);
}

.excer-book-page .page-front,
.excer-book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--exercise-bg);
    padding: 1.5rem 2rem;
}

.excer-book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.excer-book-page .page-front img {
    width: 100%;
    height: 100%;
}

.excer-book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.excer-book-page .page-back img {
    width: 100%;
    height: 100%;
}

.number-page {
    position: absolute;
    left: 50%;
    bottom: 1.2rem;
    transform: translateX(-50%);
}

.nextPrev-btn {
    position: absolute;
    right: 1.5rem;
    bottom: 0.9rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.nextPrev-btn:hover {
    color: black;
}

.nextPrev-btn.back {
    left: 1.5rem;
}

/* ================= End resource exercise ========= */
/* ===================== Feedback ================== */
.comment-area {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ===================== End Feedback ================== */
/* =================== responsive design ================ */

@media screen and (max-width: 1024px) {

    /*== navbar sect ==*/
    .custo-nav {
        padding: 10px 5px;
    }

    .custo-nav .nav-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--main-bg);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s opacity;
        align-items: flex-start;
    }

    .custo-nav .nav-right ul {
        margin-top: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .custo-nav .nav-right ul li {
        position: relative;
        width: 100%;
    }

    .nav-right>ul>li:hover ul {
        top: -110%;
        width: 98%;
        z-index: var(--z-fixed);
    }

    .custo-nav .nav-right a {
        position: relative;
        width: 80%;
    }

    .nav-right>ul>li ul li a {
        width: 80%;
    }

    .custo-nav button {
        position: relative;
        display: block;
    }

    /* ==== faq sect === */
    .faq-container h1 {
        font-size: 20px;
    }

    .faq-container h1::after {
        width: 15%;
    }

    .faq-container h1 span {
        font-size: 20px;
    }

    .accordion {
        width: 100%;
        padding: 0;
    }

    .accordion li {
        width: 96%;
        margin: 20px auto;
        padding: 10px;
    }

    .accordion label {
        font-size: 16px;
    }

    .accordion label span {
        right: 5px;
    }

    .content .short-contents p,
    .content .full-contents p,
    .content ul li {
        font-size: 15px;
    }

    .content .showMore a {
        font-size: 16px;
    }
    /* === pop up msg for patient ==== */
    .purchase-popup {
        width: 300px;
        height: 450px;
    }
    /*===== footer sect ====*/
    .footer-cont {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 445px;
    }
    .footer-cont .related-lnks h3 {
        margin: 0 auto;
    }
    .footer-cont ul {
        margin: 10px 0 0 20px;
    }
    .dpl-lnk {
        width: 290px;
    }
    .dpl-lnk ul li::before{
        display: none;
    }
    .dpl-lnk ul li a{ 
        font-size: 17px;
    }
    .dpl-lnk a img{
        padding: 5px;
        width: 305px;
     }
    .footer-cont .social {
        margin-top: 0;
    }
    .social .visitor-counter{
        display: none;
    }
    .last-foot {
        display: none;
    }
}

/* ==================== Only exercise section ====================== */

@media screen and (max-width: 991px) {
    .excercise-container{
        display: block;
        height: 800px;
        text-align: center;
    }
    .excercise-container h1 { 
        margin-top: 50px;
        font-size: 28px;
    }
    .exercise-downld-area {
        top: 30%;
        width: 100%;
    }
    .exercise-downld-area button { 
        visibility: visible;
        opacity: 1;
        cursor: pointer;
    }
    .exercise-downld-area .exercise-downld {
        margin-top: 10px;
    }
    .excercise-wrapper {
        display: none;
    }
}

/* ===================== Only content here (.contentBx .content .cnt-inner) ============== */

@media screen and (max-width: 768px) {
    .contentBx {
        width: 100%;
        height: 800px;
    }

    .content .cnt-inner {
        width: 90%;
        height: 290px;
    }
}

/* ===================== Only content here (.contentBx .content .cnt-inner) ============== */

@media screen and (max-width: 565px) {

    .contentBx {
        height: 835px;
    }

    .content .cnt-inner {
        height: 320px;
    }
}

/* ===================== Only content here (.content .cnt-inner) ============== */

@media screen and (max-width: 510px) {
    .content .cnt-inner {
        height: 350px;
    }
}

/* ===================== Only content here (.content .cnt-inner) ============== */

@media screen and (max-width: 460px) {
    .content .cnt-inner {
        height: 390px;
    }
}

/* ===================== Only content here (.content .cnt-inner) ============== */

@media screen and (max-width: 420px) {
    .content .cnt-inner {
        height: 450px;
    }
}

/* ===================== Only content here (.contentBx .content .cnt-inner .cnt-inner p) ============== */

@media screen and (max-width: 365px) {
    .contentBx {
        height: 930px;
    }

    .content .cnt-inner {
        width: 95%;
        height: 435px;
    }

    .content .cnt-inner p {
        padding-left: 10px;
        padding-right: 10px;
    }
}